body {
  margin: 0px 0px 30px;
}

/* navigation bar style */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 40px;
  padding: 5px 20px 7px 20px;
  z-index: 1;
}

.title {
  padding-right: 30em;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.nav-item {
  padding-right: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* home section style */

.home-section {
  margin-top: 58px;
  background-color: #000000;
  width: 100%;
  height: 45rem;
}

.container {
  position: relative;
  top: 100px;
}

.landing-text {
  font-family: "Tilt Warp", cursive;
  color: #f5f5f5;
  font-size: 5rem;
  position: absolute;
  left: 27vw;
  top: 10vh;
}

.search-box {
  /* padding: 325px 0px 86px 170px; */
  position: absolute;
  top: 30vh;
  left: 30px;
  width: 100%;
}

.search {
  width: 85%;
  padding: 12px 30px;
  border-radius: 25px;
}

.button {
  background-color: #ffff;
  font-family: "EB Garamond", serif;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 20px;
  margin-left: 30px;
  border-radius: 5px;
  appearance: none;
}

.button:hover {
  background-color: #000000;
  color: #ffff;
  border: 1px solid #ffff;
  padding: 6px 20px;
}

.result {
  font-family: "Tilt Warp", cursive;
  color: #f5f5f5;
  font-size: 2rem;
  position: absolute;
  top: 45vh;
  left: 28vw;
}

/* Features Section */

#features {
  width: 100%;
  height: 50rem;
}

.features-container {
  padding-top: 40px;
}

.features-intro h2 {
  font-family: "Tilt Warp", cursive;
  color: #000000;
  font-size: 4em;
  margin-top: 30px;
  margin-left: 70px;
  padding: 10px 5px;
}

.features-intro p {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 1.5em;
  padding-top: 1px;
  padding-left: 80px;
}

.features-content {
  display: inline-flex;
}

.content {
  width: 30%;
  margin-left: 80px;
  margin-top: 0px;
}

.myeffects {
  width: 58%;
  left: 70px;
  top: -53px;
}

/* Report Section */

#report {
  background-color: #000000;
  width: 100%;
  height: 45rem;
}

.report-container {
  padding-top: 80px;
}

.intro-report h3 {
  font-family: "Tilt Warp", cursive;
  color: #f5f5f5;
  font-size: 4em;
  margin-top: 30px;
  margin-left: 75px;
  padding: 10px 5px;
}

.intro-report p {
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
  font-size: 1.5em;
  padding-top: 20px;
  padding-left: 90px;
  width: 90%;
}

/* Contact us */

.about-us {
  margin-top: 45px;
  /* margin-top: -85px;  with line div*/
}

.card {
  background-color: #191919;
  height: auto;
  padding: 20px;
  width: auto;
  border-radius: 25px;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 0px -67px 5px 90px;
}

.card:hover {
  transform: scale(1.01, 1.01);
  transition-timing-function: ease-in-out;
}

.intro-text {
  font-family: "Tilt Warp", cursive;
  color: #000000;
  font-size: 4rem;
  padding-left: 80px;
  padding-bottom: 10px;
  padding-top: 25px;
}

.profile-img {
  height: 130px;
  width: 130px;
  margin: 5px;
  border-radius: 5px;
}

.intro {
  display: inline;
  color: #f5f5f5;
  padding: 10px 15px;
}

.intro-component {
  padding-left: 86px;
  font-family: "Poppins", sans-serif;
}

.intro h3 {
  font-family: "Poppins", sans-serif;
}

.intro p {
  padding-left: 2px;
  line-height: 8px;
}

.social {
  height: 25px;
  width: 25px;
  margin: 0px 7px;
}

/* CSS for devices of width between 320px - 480px */

@media only screen and (max-width: 480px) {
  body {
    margin: 2px;
  }

  section {
    margin-bottom: 10px;
    height: auto;
  }

  .navbar {
    padding-left: 2px;
    padding-top: 20px;
  }

  .title {
    padding-right: 0em;
    font-size: 20px;
  }

  .nav-item {
    padding-right: 0px;
  }

  /* Home Section */

  .home-section {
    height: 36rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .landing-text {
    left: 12vw;
    top: 0;
    font-size: 4.5rem;
  }

  .search-box {
    top: 33vh;
    left: 20px;
    width: auto;
  }

  .search {
    padding: 10px 14px;
    width: 90%;
  }

  .button {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 80px;
  }

  .result {
    top: 56vh;
    left: 9vw;
    font-size: 1.2rem;
    width: 85%;
  }

  /* Features Section */

  #features {
    height: auto;
    padding-bottom: 10px;
  }

  .features-intro h2 {
    font-size: 2.5rem;
    margin-left: 20px;
  }

  .features-intro p {
    font-size: 1rem;
    padding-left: 27px;
  }

  .features-content {
    display: block;
  }

  .content {
    font-size: 1rem;
    margin-left: 28px;
    width: 85%;
  }

  .myeffects {
    left: 15px;
    top: 7px;
    width: 92%;
  }

  /* Report Section */

  #report {
    height: auto;
    padding-bottom: 70px;
  }

  .intro-report h3 {
    font-size: 2.5em;
    margin-top: 0px;
    margin-left: 20px;
  }

  .intro-report p {
    font-size: 1rem;
    width: 95%;
    padding-left: 30px;
    font-family: var(--bs-body-font-family);
  }

  /* Contact Us Section */

  #contact {
    padding-top: 10vh;
  }

  .intro-text {
    font-size: 2.5rem;
    padding-left: 30px;
  }

  .intro-component {
    padding-left: 30px;
    font-size: 1rem;
  }

  .intro-component p {
    width: 90%;
    margin-top: 25px;
  }

  .card {
    padding: 10px 5px;
    align-items: center;
    flex-direction: row;
    margin: 0px 0px 10px 5px;
    background-color: #f5f5f5;
  }

  .profile-img {
    height: 85px;
    width: 85px;
    margin: 3px;
    border-radius: 10px;
  }

  .intro {
    padding: 10px 5px;
    color: #191919;
  }

  .intro h3 {
    font-size: 1rem;
  }

  .intro p {
    font-size: 0.9rem;
    line-height: 5px;
    padding-left: 0px;
  }

  .social {
    height: 20px;
    width: 20px;
    margin: 0px 0px;
  }
}
